flows.json
[{"id":"dab745.9689c8b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df1e925e.dcdd7","type":"ui_tab","z":"","name":"Intelligent Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1b15496.edc608","type":"ui_group","z":"","name":"Chatbot","tab":"df1e925e.dcdd7","order":1,"disp":true,"width":18,"collapse":false},{"id":"4a76dfc8.0faa6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#5c00cc","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#400977","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#400977","edited":true},"page-titlebar-backgroundColor":{"value":"#400977","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#660ebe","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#400977","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":13,"cy":13,"px":12,"py":12}}},{"id":"20f95ca2.254974","type":"ui_form","z":"dab745.9689c8b8","name":"","label":"","group":"d1b15496.edc608","order":1,"width":0,"height":0,"options":[{"label":"Enter your query/message","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":73,"y":211,"wires":[["91561e3.84c8ae"]],"l":false},{"id":"91561e3.84c8ae","type":"function","z":"dab745.9689c8b8","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":202.5,"y":129,"wires":[["e0c278a3.74df58","f2c5726f.6ef6f"]],"l":false},{"id":"75417af2.531f24","type":"function","z":"dab745.9689c8b8","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":598.5,"y":132,"wires":[["c63738cb.fcf9d8"]],"l":false},{"id":"e0c278a3.74df58","type":"ui_text","z":"dab745.9689c8b8","group":"d1b15496.edc608","order":2,"width":0,"height":0,"name":"","label":"The customer","format":"{{msg.payload}}","layout":"row-left","x":262,"y":286,"wires":[],"l":false},{"id":"16485cc.c3c25a3","type":"debug","z":"dab745.9689c8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":612,"y":43,"wires":[],"l":false},{"id":"c63738cb.fcf9d8","type":"ui_text","z":"dab745.9689c8b8","group":"d1b15496.edc608","order":3,"width":18,"height":6,"name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":564,"y":287,"wires":[],"l":false},{"id":"f2c5726f.6ef6f","type":"watson-conversation-v1","z":"dab745.9689c8b8","name":"Customer Care","workspaceid":"4e1d4be8-4666-44ce-bc47-ff94fc94d31c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8ce148f9-f117-40db-9791-f330268a0315","timeout":"","optout-learning":false,"x":377,"y":84,"wires":[["16485cc.c3c25a3","75417af2.531f24"]],"l":false}]